on:
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    initialising:
        name: "Status"
        runs-on: ubuntu-latest
        steps:
            - name: "Initialising"
              run: echo Initialising
    testing_alerts:
      name: "Run Tests"
      runs-on: ubuntu-latest

      steps:
          - name: "Get repository"
            uses: actions/checkout@v6
          - name: "Install Python"
            uses: actions/setup-python@v6
          - name: "Install libraries"
            run: pip install -r alerts/requirements.txt \ 
                  app/requirements.txt \ 
                  dashboard/requirements.txt \ 
                  database/requirements.txt \
                  pipeline/requirements.txt \
                  weekly_report/requirements.txt
          - name: "Run tests"
            run: pytest alerts/*.py
    pylinting_alerts:
      name: "Run Pylint"
      runs-on: ubuntu-latest
      
      steps:
          - name: "Get repository"
            uses: actions/checkout@v6
          - name: "Install Python"
            uses: actions/setup-python@v6
          - name: "Install libraries"
            run: pip install -r alerts/requirements.txt
          - name: "Run Pylint"
            run: pylint --fail-under=8 alerts/*.py \
                  pylint --fail-under=8 app/*.py \
                  pylint --fail-under=8 dashboard/*.py \
                  pylint --fail-under=8 database/*.py \
                  pylint --fail-under=8 pipeline/*.py \
                  pylint --fail-under=8 weekly_report/*.py
            
